<h1>New Contact</h1>
<%= form_with scope: :contact, url: contacts_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :mobile %><br>
    <%= form.text_field :mobile %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
